
.header {
    text-align: center;
}
.single-issue {
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 24%;
    font-size: 25px;
    display: inline-block;
}

.single-issue-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.single-issue:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
.btn-group {
    margin-left: 45px;
    width: 20%;
}
.issues :hover {
    text-decoration: none;
    color: grey;
}
.back {
    margin-left: 45px;
    color: #cccccc;
    position: absolute;
    bottom: 0;
}
.back :hover {
    text-decoration: none;
    color: grey;
}
.no-data {
    margin-left: 35%;
    color: indianred;
}
.loader {
    margin-left: 35%;
    color: green;
}