
.comment-container {
     display: flex;
     margin-left: 45px;
     width: 25%;
     flex-direction: column;
     align-items: flex-start;
     color: grey;
     border: 2px black;
 }
.comment-content {
    align-items: center;
    margin-left: 35%;
    background-color: darkgray;
    width: 50%;
    height: 430px;
    border: 2px solid black;
    border-radius: 4px;
}
.block {
    display: block;
    width: 100%;
    border: 1px solid black;
    padding: 14px 18px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: black;
}
.comment-text {
    height: 45%;
    width: 90%;
    margin: 20px 5%;
    font-size: 25px;
    /*border: 1px solid black;*/
}
.text {
    margin-left: 5%;
}

